* {
    box-sizing: border-box;
  }
  
  body {
  background: url('Assets/images/dust_scratches.png');
  }
  
  /* nav*/
  
.topnav {
  border-bottom: #bbbbbb solid 1px;
}

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #666;
  }
  
  ul.topnav li {float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #fff;
    color:#666;
  }
  
  ul.topnav li a.active {
    background-color: teal;
    color: #fff    
}
  
  ul.topnav li.right {
    float: right;
    padding-top: 25px;
    }
  
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-container {
    background-color: #fff;
    color: #666;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #bbbbbb 1px solid;
  }
  
  /*Contact*/
  #contact-form ul {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea{
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}
  
  .aside {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    border: #bbbbbb 1px solid;
  }
  
  .auth-image {
    width: 200px;
    height: auto;
    float: left;
    padding: 10px 20px 10px;
  }
  
  .social {
    width: 75px;
  }
  
/*portfolio*/
.work {
    width: 200px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 10px 25px;
}

.work-image {
    width: 200px;
    height: auto;
    border: 0 none;
    opacity: .8; 
}

.work:nth-child(even) {
    margin-right: 10px;
}
 
.work img {
    width: 300px;
    height: 205px;
    border: 0 none;
    opacity: .8; 
}

.work h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

  .footer {
    background-color: grey;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 20px 15px 20px 20px;
    
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
    @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    work-img {
      width: 200px;
      height: 200px; 
      }
    }
    .social {width: 50px}
    @media screen and (max-width: 640px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .social {width: 50px}
    }

    .work {width: 300px}
  